/* Limit width of content, to compensate for navigation being hidden. */
.md-main__inner {
    max-width: 44rem;
}

/* Remove header markers to avoid spacing issues with longer headers. Use the ToC instead. */
.md-typeset .headerlink {
    display: none;
}
