/* Fonts */
@font-face {
  font-family: "Cutive";
  src: url("../fonts/Cutive.woff2");
}

:root {
    color-scheme: light dark;
}

[data-md-color-primary=indigo] {
    --md-primary-fg-color: #343A40;
    --md-primary-fg-color--light: #343A40;
    --md-primary-fg-color--dark:  #343A40;
}

/* The theme setting the font size on the body is an accessibility issue. */
body {
    font-size: 1rem;
}

/* Disable header shadow */
.md-header--shadow {
    box-shadow: unset;
}

.md-header__topic, nav.md-tabs {
    font-family: Cutive, serif;
}

nav.md-tabs, .md-header {
    background-color: var(--md-primary-fg-color);
}

.md-header {
    position: unset;
}

.md-header__option > input {
    bottom: unset;
}

[dir="ltr"] .md-header__title {
    margin-left: 0;
}

.md-header__topic {
    position: unset;
    transition: unset;
}

/* Search */
input.md-search__input, .md-search__suggest, .md-search-result__meta {
    font-family: 'Cutive', serif;
}

/* Link colors */
.md-typeset a, .md-nav__link {
    color: light-dark(#084AFF, #526CFE);
}

.md-nav__item .md-nav__link--active {
    color: light-dark(#30314B, #96ACEE);
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    font-family: 'Cutive', serif;
    color: var(--md-typeset-color);
}

.md-main__inner {
    margin-top: unset;
}

.intro-index {
    background-color: light-dark(#E9ECEF, #282D32);
    margin-top: -2rem;
    padding: 2rem 0 1rem 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.subtitle-index {
    font-size: 1.4rem;
    font-family: Cutive, serif;
}

h1.title-index a.headerlink,
.page-index h2 a.headerlink,
.page-index h4 a.headerlink {
    display: none;
}

/*.summary-index {*/
/*}*/

.behaving-index {
    display: flex;
    justify-content: center;
}

.sidebar-index {
    background-color: light-dark(#E9ECEF, #282D32);
}

@media screen and (min-width: 690px) {
    .intro-block-index {
        display: flex;
        justify-content: center;
    }

    .buttons-index {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .intro-content-index {
        display: flex;
        flex-basis: min-content;
        flex-direction: column;
        align-items: unset; /* TODO: REMOVE */
        width: unset; /* TODO: REMOVE */
    }

    .sidebar-index {
        display: flex;
        flex-direction: column;
        flex: 30%;
        padding: 15px;
        height: fit-content;
        border-radius: 15px;
        margin: 1.5rem 0 0 0.5rem;
    }

    .page-index {
        display: flex;
        flex-direction: row;
    }

    .content-index {
        flex: 70%;
        margin-right: 10px;
    }

    .beeware-logo-index {
        float: left;
        padding-left: 1rem;
    }

    h1.title-index {
        font-size: 5rem;
        margin-bottom: 0;
    }

    a.contribute-content-button,
    a.keep-content-button {
        display: inline-block;
        width: 25rem;
    }

    .docs-tutorial-button {
        width: 20em;
    }
}

/* This specific width is where the BeeWare title on the homepage needs to be made
   smaller. It also works for the buttons at the bottom of the homepage. */
@media screen and (max-width: 760px) {
    h1.title-index {
        font-size: 3rem;
        margin-bottom: 0;
    }

    a.contribute-content-button,
    a.keep-content-button {
        display: inline-block;
        width: 15rem;
    }
}

@media screen and (max-width: 1164px) {
    .page-index {
        display: unset;
        flex-direction: unset;
    }
}

@media screen and (max-width: 1220px) {
    .beeware-logo-index {
        width: 200px;
    }
}

@media screen and (max-width: 926px) {
    .buttons-index {
        display: flex;
        flex-direction: column;
        justify-content: right;
    }

    .sidebar-index {
        display: flex;
        flex-direction: column;
        flex: 20%;
        margin: 30px;
        padding: 15px;
        height: fit-content;
        border-radius: 10px;
    }

    .content-index {
        flex: 80%;
        margin-right: 10px;
    }

    .beeware-logo-index {
        width: 100px;
    }
}

.clearfix {
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

a.tutorial-button,
a.contribute-button,
a.donate-button {
    padding: .5rem 1rem;
    margin: 0 0.5rem 0 0;
    font-size: 0.7rem;
    line-height: 1.5;
    border-radius: .3rem;
    display: inline-block;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #007BFF;
}

a.donate-button {
    background-color: #28A745;
}

a.tutorial-button:hover,
a.contribute-button:hover,
a.contribute-content-button:hover {
    color: #FFFFFF;
    background-color: #0069D9;
    border-color: #0062CC;
}

a.donate-button:hover,
a.keep-content-button:hover {
    color: #FFFFFF;
    background-color: #218838;
    border-color: #1e7e34;;
}

.python-logo-index,
.native-logo-index,
.opensource-logo-index,
.diversity-logo-index {
    float: right;
}

.cross-platform-logo-index,
.brutus-content-logo-index,
.hands-logo-index {
    float: left;
}

.content-button {
    display: flex;
    justify-content: center;
}

a.contribute-content-button,
a.keep-content-button {
    padding: .5rem 1rem;
    margin: 0 0.5rem 0 0;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .3rem;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #007BFF;
}

a.keep-content-button {
    background-color: #28A745;
}

/* Documentation page CSS */

.tutorial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: light-dark(#ECEEEF, #343A40);
    border-radius: 5px;
    padding-bottom: 1rem;
}

.tutorial-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* All H* with a class - requires custom class tags on each heading */
h1#featured-tools,
h1#other-tools {
    text-align: center;
    margin-top: 2rem;
    margin-left: 1em;
}

.tutorial-logo {
    margin-right: 3rem;
}

a.docs-tutorial-button {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
    display: inline-block;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    color: white;
    background-color: #007BFF;
    width: 18rem;
}

a.docs-tutorial-button:hover {
    color: white;
    background-color: #0069D9;
    border-color: #0062CC;
}

.featured {
    display: flex;
    flex-direction: row;
}

.toga,
.briefcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
}

.featured-logo {
    width: 150px;
    display: inline-block;
}

h2.featured-name {
    margin-top: 0;
}

.other-tools-package {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.other-tools-info {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

h4#podium.podium-name {
    margin-bottom: 0;
}

h4#rubicon-objective-c.rubicon-name {
    margin-bottom: 0;
}

h4#python-apple-support.python-apple-name,
h4#chaquopy.chaquopy-name {
    margin-bottom: 0;
}

.other-tools-logo {
    display: inline-block;
    width: 40px;
}

div[class*="-info"] p {
    margin-top: 0;
}

.docs-spacing {
    height: 1em;
}

h1#the-beeware-project {
    margin-bottom: 0.64rem;
}


/* Sidebar title and GitHub links font and color */
.md-nav__title {
    font-family: 'Cutive', serif;
}

.md-nav__title {
    color: unset;
}

/* Version number */
.version-number {
    overflow-wrap: anywhere;
    font-size: 12px;
    font-weight: normal;
    margin-top: 0.2rem;
}

/* GitHub sidebar links */
.github-links {
    font-weight: normal;
}

.github-link-block a {
    color: light-dark(#084AFF, #526CFE);
}

.github-link-block a:first-child .github-links {
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
}

.github-link-block a:last-child .github-links {
    margin-bottom: 0.6rem;
}

.small .github-link-block a:first-child .github-links {
    margin-top: 0.4rem;
}

.small .github-link-block a:last-child .github-links {
    margin-bottom: 0.4rem;
}

/* Shows the logo in the sidebar */
.md-nav__title .md-nav__button {
    display: unset;
}

/* Style the sidebar title block on primary pages and in sidebar drawer */
.small .sidebar-title-block {
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
}

.small .sidebar-title-block-name {
    align-items: start;
}

.sidebar-logo {
    margin-bottom: 0.8em;
    margin-top: 0.8em;
    margin-right: 0.2rem;
}

.small .site-name {
    font-size: 24px;
}

/* Embiggen homepage logo */
.md-nav__title .md-nav__button.md-logo img {
    height: unset;
}

/* Embiggen sidebar drawer logo and match sidebar */
.md-nav__title.small .md-nav__button.md-logo img {
    height: unset;
    max-width: unset;
    width: 74px;
}

/* The menu button for the sidebar drawer to display the sidebar on smaller displays */
.mobile-drawer-button-site-name {
    font-family: Cutive, "serif";
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}

.mobile-drawer-button-version-number {
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 4px;
    padding-left: 4px;
}

.mobile-sidebar-drawer-menu-bar {
    color: light-dark(#000000, #FFFFFF);
    background-color: light-dark(#F8F9FB, #4E4F52);
}

/* Adjustments for larger displays */
@media screen and (min-width: 1220px) {
    /* Hide menu bar when not needed */
    .mobile-sidebar-drawer-menu-bar {
        display: none;
    }

    .sidebar-title-block-name {
        display: flex;
        flex-flow: nowrap column;
        align-items: center;
    }

    .small .site-name {
        text-align: start;
    }

    /* Site name */
    .site-name {
        font-size: 20px;
        text-align: center;
    }
}

/* Site name font size on mid-sized displays */
@media screen and (max-width: 1599.99px)
and (min-width: 1220px) {
    .site-name {
        font-size: 19px;
    }
}

@media screen and (max-width: 1999.99px)
and (min-width: 1600px) {
    .site-name {
        font-size: 21px;
    }
}

@media screen and (min-width: 2000px) {
    .site-name {
        font-size: 22px;
    }
}

/* Adjustments for smaller displays */
@media screen and (max-width: 1219.99px) {
    .md-nav--primary .md-nav__title[for="__drawer"] {
        height: initial;
        white-space: unset;
        line-height: 1.3;
        color: light-dark(#000000, #FFFFFF);
        background-color: light-dark(#F8F9FB, #4E4F52);
    }

    .md-nav--primary .md-nav__title {
        padding-top: 16px;
    }

    .md-nav--primary .md-nav__title .md-logo {
        position: unset;
        padding: 0;
    }

    /* Position of left sidebar */
    .md-sidebar.md-sidebar--secondary {
        top: 66px !important;
    }

    /* Sidebar drawer header styling */
    .sidebar-logo {
        margin-right: 0.2rem;
    }

    .sidebar-title-block {
        display: flex;
        flex-flow: nowrap row;
        align-items: center;
    }

    .site-name {
        font-size: 24px;
    }

    .md-nav__title .md-nav__button.md-logo img {
        height: unset;
        max-width: unset;
        width: 74px;
    }
}

/* Removes padding and margins to regain screen-space on pages with short content.
   There is JS setting `top: 68px` on the sidebars that is eating up a huge amount
   of space. Overriding `top` causes a significant gap at the bottom between the end
   of the sidebar and the footer. Therefore the following margin changes are needed.
*/
.md-main__inner {
    margin-top: 0;
    padding-top: 12px;
}

.md-header {
    margin-bottom: 0;
}

.md-sidebar {
    padding-top: 12px;
}

.md-content__inner {
    padding-top: 8px;
    margin-top: 0;
}

.md-content__inner::before {
    height: 0;
}

.md-footer {
    position: relative;
    margin-top: 0;
}

@media screen and (min-width: 60em) {
    .md-sidebar__scrollwrap {
        margin-top: 0;
    }
}

/* Fix "Made with" hover link color in light mode */
html .md-footer-meta.md-typeset a:hover {
    color: light-dark(#084AFF, #526CFE)
}

/* Read the Docs elements font size fix */
readthedocs-flyout,
readthedocs-notification,
readthedocs-search,
readthedocs-hotkeys,
readthedocs-filetreediff,
readthedocs-docdiff {
    font-size: small;
}

/* 404 page text */
#not-found-text {
    float: right;
}

/* Tabbed content outlines */
.md-typeset .tabbed-labels > label:first-of-type {
    margin-left: 1rem;
}

.md-typeset .tabbed-labels {
    box-shadow: unset;
}

.tabbed-content .tabbed-block {
    border: 2px solid #777777;
    padding: 0.5rem;
    border-radius: 8px;
}

/* Forces only highlighting the important bits of codeblocks */
.highlight .gp, .highlight .go, .highlight .w {
    user-select: none;
    -webkit-user-select: none;
}

/* Codeblock copy button styling */
.copy-button, .copy-button-copied {
    position: absolute;
    display: flex;
    float: right;
    right: 0;
    top: 0;
    font-family: var(--md-text-font-family), serif;
    /* The following two styles are included to deal with code block content
       that exceeds the width of the main content block. Without this styling
       the code shows behind the button, making it difficult to see. */
    background-color: var(--md-code-bg-color);
    padding: 14px 14px 5px 5px;
}

svg.copy-icon {
    height: 1em;
}

.copy-button svg.copy-icon {
    fill: #777777;
}

.copy-button-copied svg.copy-icon {
    fill: #009900;
    padding-left: 8px;
}

/* Search */
input.md-search__input, .md-search__suggest, .md-search-result__meta {
    font-family: 'Cutive', serif;
}

.md-search__suggest {
    padding-top: 1px;
}

/* Footer and footer navigation color */
.md-footer, .md-footer-meta {
    background-color: light-dark(#f5f5f5, #343A40);
}

footer.md-footer *, html .md-footer-meta.md-typeset a  {
    color: light-dark(#343A40, #E2E4E9);
}

/* Footer navigation */
.md-footer__inner {
    padding: 0;
}

.md-footer__inner .md-footer__title .md-ellipsis {
    overflow: unset;
}

.md-footer__link {
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.md-footer__title {
    font-size: .6rem;
}

.md-footer__direction {
    font-size: .6rem
}

.md-footer__button {
    margin: 0 0 0.2rem 0;
}

/* Indent contents of classes/methods/etc. */
.doc-contents,
.doc-signature {
    margin-left: 2em;
}
